/* .Twopart{
    border: solid red 2px ;
    text-align: center;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
 }

 :root{
    /* Colors */
--white-color:rgb(252, 251, 251);
--dark-color:#252525;
--primary-color:#fcfcfa ;
--secondary-color:#7db9a9;
--light-pink-color:#c4d8cc;
--medium-gray-color:#ccc;

/* Font size */
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-1: 1.5rem;
--font-size-xl: 2rem;
--font-size-xxl: 2.3rem;

/* Font weight */
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

/* Border radius */
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;

/* Site max width */
--site-max-width: 1300px;
 }

 ul{
    list-style: none;
 }
 a{
   text-decoration: none; 
 }
 button{
    cursor: pointer;
    border: none;
    background: none;
 }

 img{
    width: 100%;
 }

 .section-container{
     margin: auto;
     padding: 0 20px;
     max-width: var(--site-max-width);
 }
.section-title{
   text-align: center;
   padding: 60px 0 100px;
   text-transform: uppercase;
   font-size: var(--font-size-xl);
}
.section-title::after{
   content: "";
   width: 80px;
   height: 5px;
   display: block;
   margin: 10px auto 0;
   border-radius: var(--border-radius-s);
   background: var(--secondary-color);
}
 /* Estilo de la barra de navegacion */

 header{
background: var(--primary-color);
position: fixed;
width: 100%;
z-index: 5;
background: var(--primary-color);
 }
 
 header .barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
 }

 .barra .opciones{
    display: flex;
    gap: 10px;
 }

 .barra .logo .logotext{
    color: var(--dark-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
 }
 .barra .opciones .item{
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--dark-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
 }
 .barra .opciones .item:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
 }

   .barra #opciones-close-button{
      display: none;
   }

   /* Herosection */
 .hero-section{
   min-height: 100vh ;
   background: var(--primary-color);
 }
 .hero-section .section-container{
   display: flex;
   align-items: center;
   min-height: 100vh;
   color: var(--dark-color);
   justify-content: space-between;
 }
 .hero-section .hero-details .titulo{
   font-size: var(--font-size-xxl);
   color: var(--secondary-color);
   font-family: 'Times New Roman', Times, serif;
 }
.hero-section .hero-details .Subtitulo{
margin-top: 8px;
max-width: 70%;
font-size: var(--font-size-xxl);
font-weight: var(--font-weight-semibold);
}
.hero-section .hero-details .descripcion{
   font-size: var(--font-size-m);
   margin: 24px 0 40px;
   max-width: 70%;
}

.hero-section .hero-details .buttons{
   display: flex;
   gap: 23px;
}

.hero-section .hero-details .button-a, .button-b{
   padding: 10px 26px;
   color: var(--primary-color);
   border: 2px solid transparent;
   border-radius: var(--border-radius-m);
   background: var(--secondary-color);
   font-weight: var(--font-weight-medium);
   transition: 0.3s ease;

}

.hero-section .hero-details .button-a:hover, .button-b:hover{
   color: var(--dark-color);
   border-color: var(--dark-color);
   background: transparent;
}

.hero-section .hero-image-wrapper{
   max-width: 500px;
   margin-right: 30px;
}
@media screen and (max-width: 1000px) {
   :root{
      --font-size-m: 1rem;
      --font-size-1: 1.3rem;
      --font-size-xl: 1.5rem;
      --font-size-xxl: 1.8rem;
   }

   .barra :where(#opciones-close-button, #opciones-open-button){
      display: block;
      font-size: var(--font-size-1);
   }
   .barra #opciones-close-button{
      position: absolute;
      right: 30px;
      top: 30px;
   }
   .barra #opciones-open-button{
      color: var(--white-color);
   }
   .barra .opciones{
      display: block;
      position: fixed;
      left: -300px;
      top: 0;
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px;
      background: var(--white-color);
      transition: left 0.2s ease;
   }
   body.show-mobile-opciones .barra .opciones{
      left: 0;
   }
   .barra .opciones .item{
      color: var(--dark-color);
      display: block;
      margin-top: 17px;
      font-size: var(--font-size-1);
   }
   
}

.report-section{
padding: 120px 0;
background: var(--light-pink-color);
}
.report-section .section-content{
display: flex;
align-items: center;
justify-content: space-between;
}
.report-section .report-imagen-wrapper .report-img{
   width: 400px;
   height: 400px;
   object-fit: cover;
   border-radius: var(--border-radius-circle);
}
.report-section .report-details .section-title{
   padding: 0;
}
.report-section .report-details .text{
   line-height: 30px;
   margin: 50px 0 30px;
   text-align: center;
   font-size: var(--font-size-m);
}
#tipo-problema {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid #ccc;
   background-color: #fff;
   cursor: pointer;
 }
 
 #tipo-problema:hover {
   border-color: #007bff;
 }

 .report-section .report-details .button-water, .button-elec, .button-comu, .button-o{
   padding: 10px 60px;
   color: var(--primary-color);
   border: 2px solid transparent;
   border-radius: var(--border-radius-m);
   background: var(--secondary-color);
   font-weight: var(--font-weight-medium);
   transition: 0.3s ease;
 }
 .report-section .report-details .button-water:hover, .button-elec:hover, .button-comu:hover, .button-o:hover{
   color: var(--white-color);
   border-color: var(--white-color);
   background: transparent;
 }

 .report-section .report-details .buttons{
   text-align: center;
   padding: 10px;
 }
.section-agua .container-agua{
   width: 1100px;
    margin: auto;
    padding: 50px;
}
.encabezado-agua{
   text-align: center;
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
    color:var(--dark-color);
}

.input, .fecha{
   width: 50%;
   padding: 20px;
   background-color: transparent;
   border: 3px solid #5a5a5a;
   border-radius:5px ;
   border-width: 3px;
   color: black;
}

.section-agua .container-agua{
   padding: 10px 10px;
   color: var(--primary-color);
   border: 2px solid transparent;
   border-radius: var(--border-radius-m);
   font-weight: var(--font-weight-medium);
   transition: 0.3s ease;
   
}
.section-agua .container-agua .reporte-agua{
  
   align-items: end;
   gap: 2px;
   display: flex;
   flex-direction: column;
}
/* .oculto{
   display: none;
} */